[submodule "teachDeepRL"]
	path = teachDeepRL
	url = https://github.com/flowersteam/teachDeepRL
[submodule "pytorch-neat"]
	path = pytorch-neat
	url = git@github.com:smearle/pytorch-neat
[submodule "dqd"]
	path = dqd
	url = git@github.com:icaros-usc/dqd
	url = https://github.com/icaros-usc/dqd
[submodule "qdpy"]
	path = qdpy
	url = https://gitlab.com/smearle/qdpy
