# TODO: separate requirements for evo/rl (while ensuring they do not conflict).

pandas
deap
pyglet
neat-python
ribs
numba
psutil
imageio
gym==0.19.0   # not newer than 0.20.0
graphviz
grpc  # For rendering minecraft via Evocraft
numpy==1.21  # numba requires this version or lower
opencv-python
# gym==0.19.0     # minerl will require 0.19.0
pingouin
PyOpenGL
ribs
scikit-image
tqdm
wandb

# git submodule update --init qdpy/       # add submodule first before python -m pip install -r requirements.txt
# ./submodules/qdpy

# NOTE: only need this for diverse generators, not RL.
# git submodule update --init pytorch-neat/       # add submodule first before python -m pip install -r requirements.txt
# python -m pip install neat-python
./submodules/pytorch-neat

# ray[rllib]
ray==1.12.1     # not older than 1.12.0

# Installing minerl:
# python -m pip install --upgrade minerl


# Would be great to try using dqd-rl inside evolve.py... until then, we don't need dqd.
#./dqd


# For fancy curriculum of metric targets for controllable RL
# ./teachDeepRL

#PyGObject

# Leftovers from gym-pcgrl with stable-baselines 2
# stable-baselines==2.9.0
# tensorflow==1.15
# torch==1.9.0
# gym==0.21.0    # or 0.16.0
# cloudpickle==2.0.0   # or 1.2.2
