{
 "exp_ids": [
          0,
#         1,
#         2,
#         3,
#         4,
#         5,
#         6,
#         7,
#         8,
#         9,
#         10,
  ],

 "problems": [
        # "microstructure"
          "binary_ctrl",
        # "zelda_ctrl",
        # "sokoban_ctrl",
        # "smb_ctrl"
        # "loderunner_ctrl",
        # "face_ctrl",
#         "minecraft_3D_maze_ctrl",
      # "minecraft_3D_zelda_ctrl",
  ],

 "representations": [
          "cellular",  # change entire board at each step
#         "cellular3D",
  #       "wide",  # agent "picks" one tile to change
  #       "wide3D",
  #       "narrow",  # scan over board in sequence, feed current tile to agent as observation
  #       "narrow3D",
  #       "turtle", # agent "moves" between adjacent tiles, give positional observation as in narrow, and agent has extra action channels corresponding to movement
  #       "turtle3D"
  ],
#
#
#
  "algos": [
      "CMAME",
#     "ME",
  ],

 "models": [
        "AuxNCA",  # NCA w/ additional/auxiliary "invisible" tile-channels to use as external memory
        "NCA",
        "Decoder",
        "GenSin2CPPN2",

#       "Sin2CPPN",

#       "GenCPPN",
#       "DirectBinaryEncoding",
#       "NCA3D",
#       "GenSinCPPN",
#       "DeepDecoder",
#       "GenCPPN2",
#       "GenSinCPPN2",
#       "AttentionNCA",
#       "CPPN",  # Vanilla CPPN. No latents. Only runs with n_init_states = 0

#       "CPPNCA",  # NCA followed by a traditional CPPN, not a fixed-size/continuous genome
#       "DoneAuxNCA",  # AuxNCA but with one aux. channel to represent done-ness (agent decides when it's finished)
#       "CoordNCA",  # NCA with additional channels corresponding to x and y coordinates

#       "MixCPPN",
#       "MixNCA",

#       "GenReluCPPN",
#       "GenMixCPPN",

#       "FeedForwardCPPN",
#       "SinCPPN",
#       "CNN"  # Doesn't learn atm
  ],

  # Standard deviation of a mutation in MAP-Elites. Initial step size in CMAME.
  "step_sizes": [
#     10,
#     1,
#     0.1,
#     0.05,
      0.01,
  ],

  # Reevaluate elites on new random seeds after inserting into the archive?
 "fix_elites": [
          True,
        ],

  # Fix a set of random levels with which to seed the generator (otherwise generate new ones each generation).
  "fix_seeds": [
          True,
  #       False
          ],

  # How many random initial maps on which to evaluate each agent? (0 corresponds to a single layout with a square of wall
  # in the center)
  "n_init_states_lst" : [
#     0,
#     1,
      10,
#     20,
  ],

  # How many steps in an episode of level editing?
  "n_steps_lst": [
      1,
#     10,
      50,
#     100,
  ],

  "global_bcs":  [
  #       ["NONE", "NONE"], 
  #       ["emptiness", "symmetry"],
  ],

  "local_bcs": {
      "binary_ctrl": [
  #       ["regions", "path-length"],
  #       ["emptiness", "path-length"],
          ["symmetry", "path-length"],
      ],
      "zelda_ctrl": [
  #       ["nearest-enemy", "path-length"],
  #       ["emptiness", "path-length"],
          ["symmetry", "path-length"],
      ],
      "sokoban_ctrl": [
  #       ["crate", "sol-length"],
          ["emptiness", "sol-length"],
  #       ["symmetry", "sol-length"],
      ],
      "smb_ctrl": [
        ["jumps", "sol-length"],
        ["emptiness", "sol-length"],
        ["symmetry", "sol-length"]
        ],
      "loderunner_ctrl": [
          ["emptiness", "path-length"],
  #       ["symmetry", "path-length"],
  #       ["emptiness", "path-length"],
          ["symmetry", "path-length"],
  #       ["win", "path-length"],
  #       ["gold", "emptiness"],
      ],
      "face_ctrl": [
  #       ["face_1", "brightness"],
  #       ['brightness', 'blur'],
          ['brightness', 'entropy'],
  #       ['rand_sol', 'rand_sol']
      ],
      "minecraft_3D_maze":[
  #       ["emptiness", "path-length"]
      ],
      "minecraft_3D_maze_ctrl": [
          ["emptiness", "path-length"]
      ],
      "minecraft_3D_zelda_ctrl": [
          ["emptiness", "path-length"]
      ],
      "microstructure": [
          # ["emptiness", "path-length"],
          # ["path-length", "tortuosity"],
      ]
  },
}
